
div#signupForm{
    color: black;
    position: absolute;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 350px;
    width: 200px;
    top: 30%;
    right:16%;
    width: 200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
div#signupForm h3{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    margin-top: -5px;
    margin-bottom: 25px;
}


button#signupBtn{
    border: 2px;
    background-color: rgb(3, 169, 3);
    padding: 7px 75px;
    text-align: center;
    color: white;
    border-radius: 20px;
}