.arrContainer {
    position: absolute;
    bottom: 0px;
    width: inherit;
    text-align: center;
}

.arrBar {
    max-width: 280px;
    min-width: 2px;
    width:1px;
    display: inline-block;
    margin: 0 1px;
}
div#visualizer{
    position: absolute;
    left: 300px;
    height: 90vh;
    max-height: 100%;
    overflow: auto;
    max-width: 100%;
    width: 1477px
}