.logo, .greeting, .settings, .signOut{
    display: inline-block;
    color: White;
}

.logo{
    margin-right:65%;
    margin-left: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.greeting, .settings{
    margin-right:3%;
}

.greeting{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-left:1%;
}
div#headerNav{
    background-color: #222E59;
    padding-bottom: 10px;
}